<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiWhdPi1_oB4NQ5eLPlrsFsEFIQ0HzYlw</string>
	<key>GCM_SENDER_ID</key>
	<string>366788228499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.beyondadmin.usamadev</string>
	<key>PROJECT_ID</key>
	<string>beyoundtest</string>
	<key>STORAGE_BUCKET</key>
	<string>beyoundtest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366788228499:ios:8db07e9c40ec6b8b07e466</string>
</dict>
</plist>